body {
    background-image: url(../img/fond.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#conteneur {
    margin: 0 auto;
    width: 1000px;
    /* height: 500px; */
    background: #fff;
    border: 1px solid grey;
    box-shadow: 1px 1px 12px lightgrey;
}

/* des fonds de couleurs  */

/* .rose {
    background: pink;
}

.kaki {
    background: darkkhaki;
} 

.bleu {
    background: dodgerblue;
} */

/* header */
header {
    height: 100px;
    background: url(../img/logo.png) no-repeat left top;
    margin-left: 10px;
}

header h1 {
    font-size: 2.6em;
    font-style: oblique;
    padding-left: 20px;
}

header .boutique {
    width: 350px;
    float: left;
    height: 100%;
    line-height: 5px;
    margin-left: 30px;
}

header .boutique p {
    color: #ff99cc;
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    padding-left: 35px;
}

header .aide {
    width: 300px;
    float: left;
    height: 100%;
    line-height: 1px;
}

header .aide h2 {
    color: #33ccff;
    font-weight: lighter;
}

header .aide figure {
    position: relative;
}

header .aide figcaption {
    position:absolute;
    top: 12px;
    left: 45px;
    color: #33ccff;
    font-weight: bold;
}

header .aide p {
    font-size: 0.9em;
    font-weight: lighter;
    font-style: italic;
    color: grey;
}

header .compte {
    width: 270px;
    float: right;
    height: 95%;
    background: #33ccff;
    color: #fff;
    line-height: 2px;
}

header .compte p {
    text-align: center;
    font-size: 0.9em;
    font-weight: lighter;
}

header .compte hr {
    color: #fff;
}

header .compte figure {
    margin: auto 0;
    position: relative;
}

header .compte figcaption {
    position:absolute;
    top: 25px;
    left: 60px;
    font-size: 0.9em;
    font-weight: lighter;
}

.clear {
    clear: both;
}

/* nav */
nav {
    height: 60px;
    background: #33ccff;
    line-height: 60px;
}

nav li {
    display: inline;
    /* color: #fff; */
    padding: 40px;
    /* padding-left: 20px; */
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li .active {
    background: pink;
    padding: 22px;
    line-height: 60px;
}

/* main */
#bandeau {
    height: 333px;
}

/* section 3 .last */
.last {
    float: left;
    width: 320px;
    height: 180px;
    border: 1px solid grey;
    border-radius: 1em;
}

.last h4 {
    margin-top: 0;
    border-radius: 1em 1em 0 0;
    background-color: darkgrey;
    height: 30px;
    text-align: center;
}

.last img, .last p {
    display: inline-block;
    
}

.last p {
    font-size: 0.6em;
    font-weight: lighter;
    width: 180px;
}

.last a {
    display: block;
    color: #33ccff;
    text-decoration: none;
    position: absolute;
    /* bottom: 0; */
}

/* footer */
footer {
    height: 50px;
}

